@import "global.css";

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 72px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.card img {
    width: 300px;
    height: auto;
}

@media (max-width: 1030px) {
    .card img {
        width: 400px;
    }

    .card {
        margin: 5px;
    }
    .list {
        padding: 0;
    }
}

@media (max-width: 500px) {
    .card img {
        max-width: 200px;
    }
}