@import "global.css";

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 72px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 30px;
    max-width: 312px;
}

.card img {
    height: 230px
}

@media (max-width: 1030px) {

    .card {
        margin: 5px;
    }

    .list {
        padding: 0;
    }
}

@media (max-width: 500px) {
    .card img {
        max-width: 200px;
        height: auto;
    }
}