.logo {
   display: flex;
   flex-direction: row;
   white-space: nowrap;
   align-items: center;
}

.logo a {
   color: var(--sky);
   font-weight: 600;
   font-size: 24px;
}

.logo img {
   border-radius: 50%;
   width: 30px
}

nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.menu {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.subscribe {
   display: flex;
   align-items: center;
}

.menu li {
   padding: 0 10px;
}

@media (max-width: 1030px) {
   nav {
      flex-direction: column;
   }

   .menu {
      justify-content: space-evenly;
      padding: 0;
   }

   .menu li {
      padding: 0;
   }

}

@media (max-width: 600px) {
   .menu {
      flex-wrap: wrap;
   }
   .logo {
      justify-content: center;
   }
}

@media (max-width: 300px) {
   .menu {
      font-size: 8px;
   }

   .logo a{
      font-size: 20px;
   }
}