@import "global.css";

.blog {
    background-color: #F2F4FD;
    background-image: url("../assets/about.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25%;
    display: flex;
}

form {
    background-color: #E7F0F4;
    width: 400px;
    height: 400px;
    border-radius: 30px;
    margin: 70px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

form img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.field {
    font-family: "Poppins";
    border: none;
    height: 60px;
    width: 300px;
    border-radius: 14px;
    align-self: center;
    margin-bottom: 40px;
    text-align: center;
    border: 1px solid var(--sky);
}

.field:focus {
    outline: none !important;
    box-shadow: 0 0 10px var(--sky);
}

.title {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 40px;
    align-items: center;
}

@media (max-width: 900px) {
    .blog {
        justify-content: center;
        background-position: 38%;
    }

    form {
        padding: 10px;
        margin: 10px;
    }
}

@media (max-width: 420px) {
    form {
        height: 250px;
        justify-content: flex-start;
    }

    .field {
        width: 200px;
        height: 57px;
        margin-bottom: 25px;
    }

    .title {
        font-size: 20px;
        margin: 10px;
    }

    .blog {
        background-position: 32%;
    }
}